.header{
    display: flex;
    width: 100%;
    background-color: rgb(62, 62, 183);
    justify-content: center;
    padding: 15px;
    align-items: center;




}
.header h1{
 
    color: white;
    margin:10px;
    
}
.header input[type=text]{
    width:25%;
    height:40px;

}

.search{
    height: 40px;
    margin: 0px;
    padding: 2px;
    width: 30px;
}